
<div class="col">
    <a href="/link/{{r.id}}">
    <div class="card">
      {# <div class="card-header">{{r.provider}}</div> #}
      <div class="card-body p-0">
        <img src="{{r.image|default('/img/thumbnail_notfound.jpg')}}" class="card-img-top" alt="{{r.title}}">
      </div>
      <div class="card-footer">
        {{r.title}}
      </div>
    </div>
    </a>
</div>
