{% extends 'base.html.twig' %}

{% block title %}Yazoo!{% endblock %}

{% block body %}


<div class="container">
    <div class="row">
        <h1>Yazoo
        <!--
        <small><a href="/musique" title="Musique">🎶</a></small>
        <small><a href="/images" title="Images">👀</a></small>
        <small><a href="/videos" title="Video">📼</a></small>
        -->
        <small><a href="/stats" title="stats">📊</a></small>
        <small><a href="/blacklist" title="blacklist">💀</a></small>
        </h1>
    </div>
    <div class="row">
        <div class="col-12">
            <form action="" method="get">
                <input type="search" class="form-control" name="q" id="q" autocomplete=off autofocus value="{{ q }}" placeholder="provider:bandcamp status:200">
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
        {% for r in results %}
            <div class="result">
                <h4><a href="{{ r.url }}">{{ r.title|default('no title') }}</a></h4>
                <span class="badge bg-secondary">{{ r.status }}</span> <i class="text-muted">{{ r.url }}</i> <br />
                {% if r.description %}
                    {{ r.description }}
                {% else %}
                    {{ r.mimetype }}
                {% endif %}
                <br />
                <a href="/link/{{ r.id }}">Link#{{ r.id }}</a>
            </div>
        {% endfor %}
        </div>
        <hr>

        Count: {{count}}

    </div>


</div>
{% endblock %}
