

<b>{{data.count}} result(s)</b>

<nav aria-label="...">
  <ul class="pagination py-0">
     {% if data.count > 0 %}
     {% for i in 1..data.pages %}
      {% if i <= 10 %}
        {% if i == data.page_index %}
          <li class="page-item active">
        {% else %}
          <li class="page-item">
        {% endif %}

        <a class="page-link" href="?q={{data.q}}&page={{i}}">{{i}}</a>
        </li>
      {% endif %}
     {% endfor %}
    {% endif %}

    {# Commented Code in Twig
    <li class="page-item">
      <a class="page-link" href="?q={{data.q}}&page={{data.page_index}}">Next</a>
    </li>
    #}

  </ul>
</nav>


{% if data.count > 0 %}
  {# <pre>{{data.count}} result(s)</pre> #}
{% endif %}