
{% if data.count > 0 %}
  <b>{{data.count}} result(s)</b>
{% endif %}

<nav aria-label="...">
  <ul class="pagination py-0">
     
    {% if data.page_prev > 0 %}
      <li class="page-item">
        <a class="page-link" href="?q={{data.q}}&page={{data.page_prev}}">&lt;&lt;</a>
      </li>
    {% endif %}
     
     {% if data.count > 0 %}
     {% for i in 1..data.pages %}
      {% if i <= 10 %}
        {% if i == data.page_index %}
          <li class="page-item active">
        {% else %}
          <li class="page-item">
        {% endif %}

        <a class="page-link" href="?q={{data.q}}&page={{i}}">{{i}}</a>
        </li>
      {% endif %}
     {% endfor %}
    {% endif %}

    {% if data.page_next > 0 %}
      <li class="page-item">
        <a class="page-link" href="?q={{data.q}}&page={{data.page_next}}">&gt;&gt;</a>
      </li>
    {% endif %}

  </ul>
</nav>


{% if data.count > 0 %}
  {# <pre>{{data.count}} result(s)</pre> #}
{% endif %}