<div class="card my-2">
    <div class="card-header">
        <b>Description</b>
    </div>
    <div class="card-body">
        {{ link.description|default('no description') }}
        {% if link.image %}
            {# <img src="{{ link.image }}" width="100%"> #}
        {% endif %}

    </div>
    <div class="card-footer">
        <a href="/?q=discussion:{{ discussion_id }}">Discussion#{{ discussion_id }}</a> <a href="https://www.musiques-incongrues.net/forum/discussion/{{ discussion_id }}/">
            {{ discussion }}
        </a>
    </div>
</div>