{% extends 'base.html.twig' %}

{% block title %}Link #{{ id }}{% endblock %}

{% block body %}

<div class="container">

    <h1><a href="/">Yazoo</a> Link #{{ id }}</h1>

    <h3>{{ link.title }}</h3>
    <pre>{{ link.description }}</pre>
    <hr>

    <ul>
        <li>URL <code>{{ url }}</code>
        {% if blacklisted %}
            [Blacklisted]
        {% endif %}
        </li>

        <li>Provider : <code>{{ link.provider }}</code></li>
        <li>Status : <code>{{ link.status }}</code></li>
        <li>Canonical <a href="{{ link.canonical }}">{{ link.canonical }}</a></li>
    <!--
        <li>Title : {{ link.title }}</li>
        <li>Description : {{ link.description }}</li>
        -->
        {% if link.mimetype %}
          <li>mimetype : {{ link.mimetype }}</li>
        {% endif %}
        {% if visited_at %}
          <li>Last visit : {{ visited_at|date("Y-m-d H:i:s") }}</li>
        {% else %}
          <li><b>Not yet crawled!</b></li>
        {% endif %}
        <li><a href="/?q=discussion:{{ discussion_id }}">Discussion#{{ discussion_id }}</a> <a href="https://www.musiques-incongrues.net/forum/discussion/{{ discussion_id }}/">{{ discussion }}</a> </li>
        <li>Comment #{{ comment_id }}</li>
    </ul>

    <hr>
    <a href="{{url}}" class='btn btn-primary'>Open</a>
    <a href="/link/{{id}}/delete" class='btn btn-default'>Delete</a>
    <hr>
    <div class="row">
      <div class="col-6">
        {{preview|raw}}
      </div>
      <div class="col-6">
        <div id="preview2">please wait</div>
      </div>
    </div>


</div>

<script>
let el=document.getElementById('preview2');
el.innerHTML="<i>fetching preview...</i>";
console.log('fetching preview...');
fetch('/link/{{id}}/embed')
  .then(response => {
    if (!response.ok) {
      throw new Error('Network response was not ok');
    }
    return response.json();
  })
  .then(data => {
    // Work with the JSON data
    console.log(data); // Output the JSON data to the console
    if(data.html){
      el.innerHTML=data.html;
    }


  })
  .catch(error => {
    console.error('There has been a problem with your fetch operation:', error);
    el.innerHTML=error;
  });

//let htm='<iframe src="https://bandcamp.com/EmbeddedPlayer/v=2/album=660645427/size=large/tracklist=false/artwork=small/" frameborder="0" width="350" height="467" allowTransparency="true"></iframe>';
//let el=document.getElementById('preview');
//el.innerHTML=htm;
</script>

{% endblock %}
