{% extends 'base.html.twig' %}

{% block title %}Link #{{ id }}{% endblock %}

{% block body %}

{% include 'search/navbar.html.twig' %}


<div class="container">


    <div class="row py-2">
    <h1>
    <small><a class="nav-link" href="/">Link #{{ id }}</a></small>
  </h1>
      <div class="col-md-6">

        <div class="card">
            <div class="card-header"><b>{{link.title}}</b>
              <span class="badge bg-success float-end" title="http status">{{link.status}}</span>
            </div>

            <div class="card-body">
              <ul>


                <!--HTTP STATUS -->
                {#
                <li>
                {% if link.status >=400 %}
                  <span class="badge bg-danger">
                {% elseif link.status >=300 %}
                  <span class="badge bg-warning">
                {% elseif link.status >=200 %}
                  <span class="badge bg-success">
                {% else %}
                  <span class="badge bg-dark">
                {% endif %}
                Status : {{ link.status }}</span>
                </li>
                #}

                <li>URL <a href="{{ link.url }}">{{ url }}</a>
                <li>Canonical : <a href="{{ link.canonical }}">{{ link.canonical }}</a></li>
                {% if blacklisted %}
                    [Blacklisted]
                {% endif %}
                </li>

                <li>Provider : <code>{{ link.provider }}</code></li>

                <li>Image : {{ link.image|default('no') }}</li>

                {% if link.mimetype %}
                  <li>mimetype : {{ link.mimetype|default('no') }}</li>
                {% endif %}


            </ul>

            </div>

            <div class="card-footer"><i class="text-muted">
                {% if visited_at %}
                  Last visit : {{ visited_at|ago }}
                {% else %}
                  <b>Not yet crawled!</b>
                {% endif %}
                </i>
            </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
            <div class="card-header"><b>Description</b></div>
            <div class="card-body">
                <code>{{ link.description|default('no description') }}</code>
            </div>
          <div class="card-footer">
            <a href="/?q=discussion:{{ discussion_id }}">Discussion#{{ discussion_id }}</a> <a href="https://www.musiques-incongrues.net/forum/discussion/{{ discussion_id }}/">{{ discussion }}</a>
          </div>
        </div>
      </div>

    </div>


    <hr>
    <!--
    <a href="{{url}}" class='btn btn-primary'>Open</a>
    <a href="/link/{{id}}/delete" class='btn btn-danger float-end'>Delete</a>
    <hr>
    -->

    <div class="row">

      <div class="col-6">
        {{preview|raw}}
      </div>


      <div class="col-6">
        <div id="preview2">please wait</div>
      </div>


    </div>
</div>

<style>
ul {
  list-style-type: none;
}
</style>

<script>
let el=document.getElementById('preview2');
el.innerHTML="<i>fetching preview...</i>";
console.log('fetching preview...');
fetch('/link/{{id}}/embed')
  .then(response => {
    if (!response.ok) {
      throw new Error('Network response was not ok');
    }
    return response.json();
  })
  .then(data => {
    // Work with the JSON data
    console.log(data); // Output the JSON data to the console
    if(data.html){
      el.innerHTML=data.html;
    }


  })
  .catch(error => {
    console.error('There has been a problem with your fetch operation:', error);
    el.innerHTML=error;
  });

//let htm='<iframe src="https://bandcamp.com/EmbeddedPlayer/v=2/album=660645427/size=large/tracklist=false/artwork=small/" frameborder="0" width="350" height="467" allowTransparency="true"></iframe>';
//let el=document.getElementById('preview');
//el.innerHTML=htm;
</script>

{% endblock %}
