{% extends 'base.html.twig' %}

{% block title %}Link #{{ id }}{% endblock %}

{% block body %}

{% include 'search/navbar.html.twig' %}

<input type=hidden id="id" value="{{ id }}">

<div class="container">

    <div class="row py-2">

      <h1>
        <a class="nav-link" href="?">Link #{{ id }}</a>
      </h1>

      {% if link.status == null %}
        {% include 'link/alert-info.html.twig' %}
      {% endif %}

      <div class="col-md-6">

        <div class="card">
            <div class="card-header"><b>{{link.title}}</b>
              {% if link.status >=400 %}
                <span class="badge bg-danger float-end" title="http status">
              {% elseif link.status == 0 %}
                <span class="badge bg-dark float-end" title="http status">?
              {% else %}
                <span class="badge bg-success float-end" title="http status">
              {% endif %}
              {{link.status}}</span>
            </div>

            <div class="card-body">
              <ul style="padding:0">

                {% if link.image %}
                  {# <img src="{{ link.image}}" width=100%> #}
                {% endif %}

                <li>Provider : <code>{{ link.provider }}</code></li>

                <li>URL <a href="{{ link.url }}">{{ url }}</a>

                {% if link.canonical != link.url %}
                  <li>Canonical : <a href="{{ link.canonical }}">{{ link.canonical }}</a></li>
                {% endif %}

                {% if blacklisted %}
                    [Blacklisted]
                {% endif %}
                </li>

                {% if link.mimetype %}
                  <li>mimetype : {{ link.mimetype|default('no') }}</li>
                {% endif %}

            </ul>
            </div>

            <div class="card-footer"><i class="text-muted">
                {% if visited_at %}
                  Last visited : {{ visited_at|ago }}
                {% else %}
                  <b>Not yet crawled!</b>
                {% endif %}
                </i>
            </div>
        </div>

        {% include 'link/card-description.html.twig' %}

      </div>

      <div class="col-md-6">
          
          <!-- Yazoo preview -->
          {% if preview.status > 0 and preview.status < 400 %}
            <div class="card" id="boxPreview">
              <div class="card-header"><b>{{preview.provider}}</b></div>
              <div class="card-body p-0" style="background-color:black">{{preview.html|raw}}</div>
            </div>        
            <!--<div id="preview2">please wait</div>-->
          {% endif %}


          {% include 'link/card-code.html.twig' %}
          
          
      </div>

    </div>

</div>

<script src="/js/link/main.js"></script>

<style>
ul {  list-style-type: none;}
#boxPreview>.card-body>img{  width:100%;}
</style>

{% endblock %}
