{% extends 'base.html.twig' %}

{% block title %}Host Blacklist{% endblock %}

{% block body %}

{% include 'search/navbar.html.twig' %}


<div class="container py-4">
    <div class="card">
        <div class="card-header">Blacklist</div>
        <div class="card-body">
            <table class="table table-sm table-hover">
                <thead>
                    <th>Blacklisted Host</th>
                    <th class="text-end">Link count</th>
                    <th>Comment</th>
                    <th class="text-end">Updated</th>
                </thead>
                <tbody>
                {% for r in records %}
                    <tr data-id="{{r.id}}">
                    <!--<td class="text-muted"><a href="/blacklist/item/{{r.id}}">{{r.id}}</a>-->
                    <td>{{r.host}}
                    <!--<a href="http://{{r.host}}">link</a>-->
                    <td class="text-end">
                    {% if r.linkcount > 0 %}
                        {{r.linkcount}}
                    {% else %}
                        <i class="text-muted">-</i>
                    {% endif %}


                    <td class="text-muted">{{r.comment}}
                    <td class="text-muted text-end">{{r.updated_at}}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>



</div>

<script>
let btnAdd=document.getElementById('btnAdd');

btnAdd.addEventListener('click',function(){
    let host=prompt("Enter host/url to blacklist");
    if(!host)return;
    document.location.href="/blacklist/add/" + host;
});

</script>
{% endblock %}
