{% extends 'base.html.twig' %}

{% block title %}Link Stats{% endblock %}

{% block body %}

<div class="example-wrapper">
<section class="container">
    <div class="row">
        <h1><a href="/">Yazoo</a> Stats</h1>
    </div>

    <div class="row">

    <div class="col-6">
        <div class="card">
            <div class="card-header">HTTP Status</div>
            <div class="card-body p-0">

                <table class="table table-sm table-hover">
                    <thead>
                        <th class="text-end">num</th>
                        <th>status</th>
                    </thead>

                    <tbody>
                    {% for r in statuscodes %}
                        <tr>
                        <td class="text-muted text-end">{{ r.num }}
                        <td><span class="badge bg-secondary">{{ r.status }}</span>
                        {{ r.info|e }}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    <br />

        <div class="card">
            <div class="card-header">Mime types</div>
            <div class="card-body p-0">
                <table class="table table-sm table-hover">
                    <thead>
                        <th class="text-end">num</th>
                        <th>status</th>

                    </thead>
                    <tbody>
                    {% for r in mimetypes %}
                        <tr>
                        <td class="text-muted text-end  ">{{ r.num }}
                        <td><span class="badge bg-secondary">{{ r.mimetype }}</span>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


        <div class="col-6">

        <div class="card">
            <div class="card-header">Providers</div>
            <div class="card-body p-0">
                <table class="table table-sm table-hover">
                    <thead>
                        <th class="text-end">num</th>
                        <th>provider</th>
                    </thead>
                    <tbody>
                    {% for r in providers %}
                        <tr>
                        <td class="text-muted text-end">{{ r.num|e }}</td>
                        <td><a href="/stats/provider/{{ r.provider}}">{{ r.provider}}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>





        </div>

    </div>






    <!--
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/snif2/src/Controller/StatsController.php'|file_link(0) }}">src/Controller/StatsController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/snif2/templates/stats/index.html.twig'|file_link(0) }}">templates/stats/index.html.twig</a></code></li>
    </ul>
    -->

</div>
{% endblock %}
