{% extends 'base.html.twig' %}

{% block title %}Link Stats{% endblock %}

{% block body %}

{% include 'search/navbar.html.twig' %}

<section class="container">

    <div class="row py-2">

    <div class="col-6">
        <div class="card">
            <div class="card-header">HTTP Status</div>
            <div class="card-body p-0">

                <table class="table table-sm table-hover">
                    <thead>
                        <th class="text-end">num</th>
                        <th>status</th>
                    </thead>

                    <tbody>
                    {% for r in statuscodes %}
                        <tr>
                        <td class="text-muted text-end">{{ r.num }}
                        <td>
                            {% if r.status >= 400 %}
                                <span class="badge bg-danger">
                            {% elseif r.status >= 200 %}
                                <span class="badge bg-success">
                            {% else %}
                                <span class="badge bg-secondary">
                            {% endif %}

                            {{ r.status|default('null') }}</span>
                        {{ r.info }}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    <br />

        <div class="card">
            <div class="card-header">Mime types</div>
            <div class="card-body p-0">
                <table class="table table-sm table-hover">
                    <thead>
                        <th class="text-end">num</th>
                        <th>status</th>

                    </thead>
                    <tbody>
                    {% for r in mimetypes %}
                        <tr>
                        <td class="text-muted text-end  ">{{ r.num }}
                        <td><span class="badge bg-secondary">{{ r.mimetype }}</span>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


        <div class="col-6">

        <div class="card">
            <div class="card-header">Providers</div>
            <div class="card-body p-0">
                <table class="table table-sm table-hover">
                    <thead>
                        <th class="text-end">num</th>
                        <th>provider</th>
                    </thead>
                    <tbody>
                    {% for r in providers %}
                        <tr>
                        <td class="text-muted text-end">{{ r.num|e }}</td>
                        <td><a href="/stats/provider/{{ r.provider}}">{{ r.provider}}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>





        </div>

    </div>



</section>

{% endblock %}
