{% extends 'base.html.twig' %}

{% block title %}Youtube Stats{% endblock %}

{% block body %}

{% include 'search/navbar.html.twig' %}

<section class="container">

    <h1>Provider: {{provider}}</h1>
    <!--
    <li>Total links where provider is Youtube
    <li>Links Waiting
    <li>Links Crawled (done)
    <li>Links That are not videos (no key)
    <li>Links That are dead
    -->

    <div class="row py-2">

        <div class="col-md-6">

            <div class="card">
                <div class="card-header">HTTP Status</div>
                <div class="card-body p-0">
                    <table class="table table-sm table-hover">
                        <thead>
                            <th>n</th>
                            <th>statuses</th>
                        </thead>
                        <tbody>
                        {% for r in statuscodes %}
                            <tr>
                            <td class="text-muted">{{ r.num|e }}
                            <td>
                                {% if r.status >= 400 %}
                                    <span class="badge bg-danger">
                                {% elseif r.status >= 200 %}
                                    <span class="badge bg-success">
                                {% else %}
                                    <span class="badge bg-secondary">
                                {% endif %}
                                {{ r.status|default('null') }}</span>
                            {{ r.info|e }}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>



        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Mime types</div>
                <div class="card-body p-0">
                    <table class="table table-sm table-hover">
                        <thead>
                            <th>n</th>
                            <th>statuses</th>
                        </thead>
                        <tbody>
                        {% for r in mimetypes %}
                            <tr>
                            <td class="text-muted">{{ r.num }}
                            <td><span class="badge bg-secondary">{{ r.mimetype }}</span>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>



        </div>
    </div>

    <hr>
        Search <a href="/?q=provider:{{provider}}"> provider:{{provider}}</a>

</section>

{% endblock %}
