{% extends 'base.html.twig' %}

{% block title %}Youtube Stats{% endblock %}

{% block body %}

<div class="example-wrapper">
<section class="container">
    <div class="row">
        <h1><a href="/">Yazoo</a> Provider : {{provider}}</h1>
        <hr>
    </div>

    <!--
    <li>Total links where provider is Youtube
    <li>Links Waiting
    <li>Links Crawled (done)
    <li>Links That are not videos (no key)
    <li>Links That are dead
    -->

    <div class="row">
        <div class="col-6">
            <h3>HTTP Status</h3>
            <table class="table table-sm table-hover">
                <thead>
                    <th>n</th>
                    <th>statuses</th>
                </thead>
                <tbody>
                {% for r in statuscodes %}
                    <tr>
                    <td class="text-muted">{{ r.num|e }}
                    <td><span class="badge bg-secondary">{{ r.status|e }}</span>
                    {{ r.info|e }}
                    </tr>
                {% endfor %}
                </tbody>
                </table>

        </div>

        <div class="col-6">
            <h3>Mime types</h3>
            <table class="table table-sm table-hover">
                <thead>
                    <th>n</th>
                    <th>statuses</th>
                </thead>
                <tbody>
                {% for r in mimetypes %}
                    <tr>
                    <td class="text-muted">{{ r.num|e }}
                    <td><span class="badge bg-secondary">{{ r.mimetype|e }}</span>
                    </tr>
                {% endfor %}
                </tbody>
                </table>

        </div>
    </div>

</div>
{% endblock %}
