
<div class="col">
    <a href="/link/{{r.id}}">
    <div class="card">
      {#<div class="card-header"><b>{{r.provider}}</b></div>#}

      <div class="card-body p-0">
        <img src="{{r.url|default('/img/thumbnail_notfound.jpg')}}" class="card-img-top" alt="{{r.title}}" title="{{r.title}}">
      </div>

      <div class="card-footer">
        <i class="text-muted">{{r.title}}</i>
        {# discussion:{{r.DiscussionId}} #}
      </div>

    </div>
    </a>
</div>
